<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дэшборд</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Добро пожаловать, {{ user.username }}!</h1>
    <h2>Ваши устройства:</h2>
    <ul>
        {% for device in devices %}
        <li>{{ device.device_info }} - {{ device.ip_address }}</li>
        {% endfor %}
    </ul>

    <form action="/add_device" method="POST">
        <label for="device_info">Информация об устройстве:</label>
        <input type="text" id="device_info" name="device_info" required>
        <button type="submit">Добавить устройство</button>
    </form>
</body>

</html>