<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatsApp</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <div class="background"></div>

    <div class="form-container-register">
        <h1 class="title">ChatsApp</h1>

        <form action="/auth/verify" method="post">
            <!-- Поле для ввода имени пользователя -->
            <div class="input-group">
                <i class="icon">
                </i>
                <input type="text" name="username" placeholder="six-digit code" required />
            </div>

            <button class="login-button" type="submit">Verify</button>

            <div class="signup-link">
                <a href="/login">Already have an account?</a>
            </div>
        </form>
    </div>

    <script src="/static/app.js"></script>
</body>

</html>